<h1>Listing items</h1>

<p>
  <%= link_to 'New Item', new_item_path, :class=>"btn btn-success" %>
</p>
<div class="row">
  <% @items.each do |item| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to item.title, item %>
        </div>
        <div class="panel-body">
          <div>
            <%= item.user.username %>さん
          </div>
          <div>
            <%= item.place %>
          </div>
          <div>
            <%= item.details %>
          </div>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
